.container {
    height: 82vh;
    width: 100%;
    background-color: #1c2331;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Toast {
    font-size: 3rem;
    height: 7rem;
    width: 49rem;
    background-color: #2c3645 !important;
    color:rgb(255, 255, 255) !important;
    text-align: center;
    border-radius: 0.5rem;
    border: 2px solid #000000
        }

.title {
    height: 10vh;
    width: 100%;
    background-color: #1c2331;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 4rem;
}

.titleContent {
    padding-top: 15rem;
    padding-left: 20%;
    /* Décaler le contenu de 20% depuis la gauche */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 35%;
    
    /* Augmenter la largeur des champs de saisie */
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.input,
.textarea {
    background-color: #2c3645;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    outline: none;
    transition: background-color 0.3s ease;
    width: 100%;
    /* Remplir l'espace disponible */
}

.input:hover,
.textarea:hover {
    background-color: #3e4b65;
}

.button {
    background-color: #ff5252;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    /* Réduire la largeur du bouton */
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff6e6e;
}

@media screen and (max-width: 768px) {

    
    .Toast {
        font-size: 1.5rem !important;
        height: 6rem !important;
        width: 20rem !important;
    }
    
    .form {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    .flex {
        font-size: 1.5rem;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .titleContent {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding-top: 4rem;
}

.contactLetter{
    font-size: 5.5rem;
}
}

.contactInfo {
    width: 45%;
    font-size: 2rem;
    /* background-color: red; */
    margin-right: 5rem;
    padding-bottom: 10rem;
}

.contactInfo div {
    margin-bottom: 2rem;
}


.icon {
    font-size: 4rem;
}

.linkedinIcon {
            width: 4rem;
            height: 2rem;
            margin-right: 0rem;
            color:white;
}

.linkedinDescription {
    color: white !important;
    text-decoration: none !important;
}

.gmailIcon {
            width: 2.5rem;
            height: 2.2rem;
            margin-right: 1.4rem;
            margin-left: 20%;
}

.phoneIcon {
                width: 2rem;
                    height: 2rem;
                    margin-right: 0.5rem;
                    margin-left: 2.1%;
}

.resumeIcon {
    font-size: 3rem;
    color: #ff5252;
    margin-right: 1.4rem;
    margin-left: 1.7%;
}

.flex {
    display: flex;
    transition: transform 0.3s ease;
    /* Ajouter une transition pour l'agrandissement en douceur */
}

.flex:hover {
    transform: scale(1.2);
    /* Agrandir l'élément de 20% */
    padding-right: 25rem;
}

.contactLetter {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.contactLetter:hover {
    animation-name: stretch;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}


@keyframes stretch {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 0.5);
    }

    70% {
        transform: scale(0.9, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

/* Ajoutez ces styles dans contact.module.css */
.linkedin-link {
    text-decoration: none;
    /* Pour supprimer le soulignement */
    color: inherit;
    /* Pour conserver la couleur du texte héritée */
}

.linkedin-link:hover,
.linkedin-link:focus {
    text-decoration: none;
    /* Pour supprimer le soulignement au survol et lors de la mise au point */
    color: inherit;
    /* Pour conserver la couleur du texte héritée au survol et lors de la mise au point */
}

/* Dans contact.module.css */
.noStyleLink {
    text-decoration: none;
    color: inherit;
}

.noStyleLink:hover {
    text-decoration: none;
    color: inherit;
}

