/* contact.module.css */

.bigContainer {
    height: auto;
    width: 100%;
}


.container {
    height: 72vh;
    width: 100%;
    background-color: #1c2331;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.containerLight {
    height: 72vh;
    width: 100%;
    background-color: #5c86a4;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.Toast {
    font-size: 3rem;
    height: 7rem;
    width: 49rem;
    background-color: #2c3645 !important;
    color:rgb(255, 255, 255) !important;
    text-align: center;
    border-radius: 0.5rem;
    border: 2px solid #000000
        }

.title {
    height: 10vh;
    width: 100%;
    background-color: #1c2331;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 4rem;
}

.titleLight {
    height: 10vh;
    width: 100%;
    background-color: #5c86a4;
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 4rem;
}

.titleContent {
    padding-top: 15rem;
    padding-left: 20%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 35%;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.input,
.textarea {
    background-color: #2c3645;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    outline: none;
    transition: background-color 0.3s ease;
    width: 100%;
}

.input:hover,
.textarea:hover {
    background-color: #3e4b65;
}

.button {
    background-color: #ff5252;
    width: 103%;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff6e6e;
}

.buttonLight {
    background-color: #ff5252;
    width: 103%;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    font-size: 1.4rem;
    cursor: pointer;
    border: 1px solid black;
    transition: background-color 0.3s ease;
}

.buttonLight:hover {
    background-color: #ff6e6e;
}

.contactInfo {
    width: 45%;
    font-size: 200%;
    margin-right: 5rem;
    padding-top: 6rem;
}



.contactInfo div {
    margin-bottom: 2rem;
}


.icon {
    font-size: 4rem;
}

.linkedinIcon {
    width: 4rem;
    height: 2rem;
    margin-right: 0rem;
    color:white;
}

.linkedinDescription {
    color: white !important;
    text-decoration: none !important;
}

.linkedinDescriptionLight {
    color: black !important;
    text-decoration: none !important;
}

.gmailIcon {
    width: 2.5rem;
    height: 2.2rem;
    margin-right: 1.4rem;
    margin-left: 20%;
}

.phoneIcon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    margin-left: 2.1%;
}

.resumeIcon {
    font-size: 3rem;
    color: #ff5252;
    margin-right: 1.4rem;
    margin-left: 1.7%;
}

.flex {
    display: flex;
    transition: transform 0.3s ease;
}

.flex:hover {
    transform: scale(1.2);
    padding-right: 25rem;
}

.contactLetter {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.contactLetter:hover {
    animation-name: stretch;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.linkedin-link {
    text-decoration: none;
    color: inherit;
}

.linkedin-link:hover,
.linkedin-link:focus {
    text-decoration: none;
    color: inherit;
}

.noStyleLink {
    text-decoration: none;
    color: inherit;
}

.noStyleLink:hover {
    text-decoration: none;
    color: inherit;
}


@keyframes stretch {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 0.5);
    }

    70% {
        transform: scale(0.9, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}



@media screen and (max-width: 1100px) {
    .titleContent {
        padding-top: 15rem;
        justify-content: center;
        padding-left: 10%;
    }

    .button {
        width: 105%;
    }

    .buttonLight {
        width: 105%;
    }
}

@media screen and (max-width: 768px) {
    .contactInfo {
        width: 80%;
        height: auto;
        margin-right: 5rem;
        margin-left: 5rem;
        text-align: center;
        padding-top: 2rem;
    }

    .Toast {
        font-size: 1.5rem !important;
        height: 6rem !important;
        width: 20rem !important;
    }

    .form {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    .flex {
        font-size: 1.5rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .containerLight {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .titleContent {
        color: white;
        font-size: 4rem;
        padding-bottom: 25%;
    }

    .contactLetter {
        font-size: 4.5rem;
    }

    .button {
        width: 110%;
    }

    .buttonLight {
        width: 110%;
    }

    .linkedinDescription,
    .linkedinDescriptionLight {
        font-size: 5vw;
    }

    .phone2 {
        font-size: 6vw;
    }
}