/* descriptions.module.css */

.container {
    font-size: 2.5rem;
    position: relative;
}

.containerRight {
    padding-left: 10%;
    margin-right: 2%;
    margin-left: 2%;
}

.cardBack {
    width: 90%;
    height: 70vh;
    font-size: 1.5vw;
    padding-left: 5%;
    padding-right: 1%;
}

.cardFront {
    width: 96%;
    height: 70vh;
    font-size: 3vw;
    margin-left: 1.2rem;
}

.imageFront {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70%;
    width: 98%;
    border-radius: 1rem;
}

.imageBack {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40%;
    width: 70%;
    border-radius: 1rem;
}

.bullet {
    width: 40px;
    height: 40px;
    background-color: #007AFF
}

.bullet2 {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 87, 87);
}


@media (max-width: 1450px) {
    .containerRight {
        padding-left: 15%;
        margin-right: 2%;
        margin-left: 2%;
        }

    .cardBack {
        font-size: 1.5rem;;
        line-height: 6rem;
        width: 120%;
        height: 70vh;
        margin-right: 95%;
    }

    .cardFront {
        font-size: 2rem;
        line-height: 2rem;
        width: 120%;
        height: 70vh;
        margin-left: 100%;
    }
}

@media (max-width: 1150px) {
    .containerRight {
        padding-left: 15%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .cardBack {
        font-size: 1.3rem;   
        line-height: 2rem;
        width: 120%;
        height: 70vh;
        margin-right: 95%;
    }
        .cardFront {
        font-size: 2rem;
        line-height: 2rem;
        width: 120%;
        height: 70vh;
        margin-left: 100%;
        }
}

@media (max-width: 900px) {

    .containerRight {
        padding-left: 0%;
        margin-right: 0rem;
        margin-left: 0rem;
    }

    .cardBack {
        width: 160%;
        font-size: 1.4rem;
        line-height: 2rem;
        margin-right: 60%;
    }

    .cardFront {
        width: 160%;
        font-size: 3rem;
        line-height: 2rem;
        margin-left: 67%;
    }
}

@media (max-width: 767px) {

    .containerRight {
            padding-left: 0%;
            margin-right: 0rem;
            margin-left: 0rem;
        }

    .cardBack {
            width: 80%;
            font-size: 4vw;
            line-height: 2rem;
            margin-right: -1%;
            padding-right: 3%;

    }

    .cardFront {
             width: 80%;
             font-size: 2.7rem;
             line-height: 3.5rem;
             margin-left: -3%;
    }
}

@media (max-width: 400px) {

    .containerRight {
        padding-left: 0%;
        margin-right: 0rem;
        margin-left: 0rem;
    }

    .cardBack {
        width: 80%;
        font-size: 4vw;
        line-height: 2rem;
        margin-right: -18%;
        padding-right: 3%;
        padding-left: 7%;

    }

    .cardFront {
        width: 80%;
        font-size: 2.7rem;
        line-height: 3.5rem;
        margin-left: -7%;
    }
}