.container {
    font-size: 2.5rem;
}


.cardBack {
    width: 30vw;
    height: 70vh;
    font-size: 2rem;
}

.cardFront {
    width: 30vw;
    height: 70vh;
    font-size: 2rem;
}

.imageFront {
    height: 70%;
    width: 98%;
    margin-bottom: -32%;
}

.imageBack {
    height: "40%";
    width: "70%";
}

@media (max-width: 767px) {

    .cardBack {
            width: 80%;
            font-size: 1.5rem;
            line-height: 2rem;
            
    }

    .cardFront {
             width: 80%;
             font-size: 3rem;
             line-height: 2rem;
    }

    .imageFront {
    margin-top: "80%";
    margin-bottom: -35%;
    }

    .imageBack {
    margin-bottom: -7vh;
    height : 40%;
    width: "70%";
    }
}


.bullet {
    width: 40px;
    height: 40px;
    background-color: #007AFF
}

.bullet2 {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 87, 87);
}

.bulletActive {
    width: 40px;
    height: 40px;
    background-color: rgb(115, 110, 216);
}



.bulletActive2 {
    width: 40px;
    height: 40px;
    background-color: red;
}
