.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    max-width: 1500px;
    height: 88vh;
    padding: 20px;
}

@media only screen and (max-width: 1400px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    
    .image {
        height: 60%;
        width: 60%;
    }
}


@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .image {
        height: 100%;
        width: 100%;
    }
}

.h1 {
    font-size: 239%;
}

.textImportant {
font-weight: bold;
}

.text {
    font-size: 25px;
    text-align: left;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.image {
    text-align: center;
    transition: transform 2s ease-in-out;
    border-radius: 50%;
    border: 2px solid rgb(3, 3, 3);
    box-shadow: 5px 5px 10px #000000;
}

.image:hover{
    transform: scale(1.2);
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}