.landingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 106%;
    background-color: rgb(42, 42, 42);
}

.landingContainerLight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #4169E1
}

.squareContainer {
    position: relative;
    height: 200px;
    width: 200px;
}

.square1 {
    position: absolute;
    margin-left: 40vh;
    margin-top: 12vh;
    width: 50%;
    height: 50%;
    background-color: #476fb8;
}


.square2 {
    position: absolute;
    margin-left: -20vh;
    margin-top: 12vh;
    width: 50%;
    height: 50%;
    background-color: #7bc7e6;
}

.topLeft {
    top: 0;
    left: 0;
}

.topRight {
    top: 0;
    right: 0;
}

.bottomLeft {
    bottom: 0;
    left: 0;
}

.bottomRight {
    bottom: 0;
    right: 0;
}

.square-final {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 50%;
    height: 50%;
    background-color: #d7d7d7;
}

.square-merge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 50%;
    height: 50%;
    background-color: #d7d7d7;
    opacity: 1;
    z-index: -1;
}

.h1 {
    font-size: 400%;
    color: rgb(255, 255, 255);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.h1{
    font-size: 400%;
    color: rgb(255, 255, 255);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.p {
    font-size: 200%;
    color: rgb(255, 255, 255);
    opacity: 0;
}

.title {
    font-size: 4rem;
    animation: fadeIn 1s ease-in-out forwards;
    text-align: center;
    color: rgb(255, 255, 255);
}
.titleLight {
    font-size: 4rem;
    animation: fadeIn 1s ease-in-out forwards;
    text-align: center;
    color: #2D2D2D;
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}


@media (max-width: 768px) {
    .title,
    .titleLight {
            font-size: 10.5vw;
            text-align: center;
            margin-left: 5%;
            margin-right: 5%;   
        }

    .h1 {
            font-size: 200%;
        }

     .p {
            font-size: 20%;
        }
    .landingContainer {
        flex-direction: column;
       
    }

    .squareContainer {
        margin-bottom: 0;
        margin-top: 50px;
    }

    .square1 {
        margin-left: 6rem;
        margin-top: 0;
        position: relative;
        width: 100%;
    }

    .square2 {
        margin-left: 6rem;
        margin-top: 10px;
        position: relative;
        width: 100%;
    }
}


.contactLetter {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.contactLetter:hover {
    animation-name: stretch;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

@keyframes stretch {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 0.5);
    }

    70% {
        transform: scale(0.9, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}