.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(42, 42, 42);
    color: white;
    height: 80px;
    width: 100%;
    padding: 0 10px;
}

.containerLight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C7C7E2;
    color: rgb(0, 0, 0);
    height: 80px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid black
}

.links {
    display: flex;
    align-items: center;
}

.navitems {
    font-size: 1.6vw;
    margin-right: 30px;
    transition: transform 0.35s ease-in-out;
    cursor: pointer;
}

.navitems:hover {
    transform: scale(1.2);
    color:rgb(212, 223, 253)
}

.navitemsLight {
    font-size: 1.6vw;
    margin-right: 30px;
    transition: transform 0.35s ease-in-out;
    cursor: pointer;
}

.navitemsLight:hover {
    transform: scale(1.2);
    color: rgb(60, 60, 60)
}

.traduction {
    background-color: rgb(37, 36, 36);
    color: white;
    height: 2.5rem;
    width: 6.5rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    border: 2px solid #545454;
    transition: transform 0.35s ease-in-out;
}

.traduction:focus {
    outline: none;
    border-color: #66afe9;
}

.traduction:hover {
    background-color: rgb(43, 43, 43);
    transform: scale(1.1);
}

.traductionLight {
    background-color: rgb(211, 211, 211);
    color: rgb(0, 0, 0);
    height: 2.5rem;
    width: 6.5rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    border: 2px solid #545454;
    transition: transform 0.35s ease-in-out;
}

.traductionLight:focus {
    outline: none;
    border-color: #66afe9;
}

.traductionLight:hover {
    background-color: rgb(244, 244, 244);
    transform: scale(1.1);
}

.moon {
     padding-left: 2rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.moonLight {
    padding-left: 2rem;
    font-size: 1.5rem;
    color: rgb(51, 31, 182)
}


@media (max-width: 768px) {

    .container, .containerLight {
        width: 100%;
        flex-wrap: wrap;
        min-height: 80px;
        height: auto;
        box-sizing: border-box;
    }
    
    .links {
            display: flex;
            justify-content: space-between;
    }

    .links a:not(:last-child) {
        margin-right: 4%;
          font-size: 3vw;
        /* Ajouter de la marge horizontale entre les liens, sauf le dernier */
    }

                .navitems,
                .navitemsLight {
            margin-right: 0px;
            margin-bottom: 0px;
            display: block;
            width: 100%;
        }
    
        .navitems:hover {
            transform: scale(1.1);
        }
    
        .navitemsLight:hover {
            transform: scale(1.1);
        }

        .traduction {
    font-size: 0.8rem;
    width: 4.7rem;
    margin-right: 0.5rem;
}
    .traductionLight {
        font-size: 0.8rem;
        width: 4.7rem;
        margin-right: 0.5rem;
                }

                .moon {
    padding-left: 0rem;
    font-size: 1.5rem;
}

.moonLight {
    padding-left: 0rem;
    font-size: 1.5rem;
}
}


