.parallaxcontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    animation: fade-in 1s ease-in-out;
    height: auto;
    z-index: 2;
}

.content {
    background-color: red;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.parallax-banner-layer-0 {
    transform: translate3d(0, -20%, 0) scale(1.2);
}

.parallax-banner-layer-1 {
    mix-blend-mode: overlay;
}

.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 1;
    z-index: 1;
}

.page-overlay.inverted {
    opacity: 0;
}